menu("winops") {
  item("focus", Focus );
  item("close", Close );
  item("(un)minimize", Function "ToggleMinimize" );
  item("(un)maximize", Function "ToggleMaximize" );
}

function("ToggleMinimize") {
  [!Minimized] Minimize
  [Minimized] UnMinimize
}

function("ToggleMaximize") {
  [!Maximized] Maximize
  [Maximized] UnMaximize
}

function("SfwbarInit") {
  SetLayer "panel", "bottom"
  SetMonitor "panel", "eDP-1"
  SetExclusiveZone "panel", "32"
  SetLayer "launcher", "bottom"
  SetMonitor "launcher", "eDP-1"
  SetBarSize "launcher", "100%"
}

# Panel layout

layout "panel" {
  style = "frame"
  include("menu.widget")
  label { css = "* { -GtkWidget-hexpand: true; }" }
  include("clock.widget")
  label { css = "* { -GtkWidget-hexpand: true;}" }
  include("alsa-module.widget")
  include("battery.widget")
  include("temp.widget")
  include("network-module.widget")
  include("pupusage.widget")
  include("idle.widget")
  include("cpu.widget")
  include("logout.widget")
}

layout "launcher" {
  label { css = "* { -GtkWidget-hexpand: true; }" }
include("launcher.widget")
  label { css = "* { -GtkWidget-hexpand: true; }" }
}


#CSS
window#panel { 
-GtkWidget-direction: top;
  border: none;
background: none;
  color: rgba(225,  225,  225, 1.0);
}


grid#layout {
  padding: 0.25mm;
  -GtkWidget-direction: right;
}

window#launcher { 
-GtkWidget-direction: bottom;
background: none;
}


button image {
background: transparent;
border: none;
min-width: 40px;
min-height: 40px;
}
button#module {
  background: #E2F4FD;
color: #ffffff;
  border: none;
  padding: 1px;
  margin: 0px;
  -GtkWidget-vexpand: true;
}

button#module image {
  min-height: 20px;
  min-width: 20px;
  padding: 2px;
  margin: 0px;
  -GtkWidget-valign: center;
  -GtkWidget-vexpand: true;
}

label#module {
color: #ffffff;
font-family: Liberation Sans;
font-size: 14px;
font-style: normal;
font-weight: bold;
}