Function("SfwbarInit") {
  Layer "top"
  BarSize "100%"
  Mirror "*"
#  SetBarSensor "1000"
#  SetExclusiveZone "0"
}

include("winops.widget")


layout "pes" {
  css = "* { background: transparent;padding: 10px; padding-right: 100px;
}"
grid {
    css = "* {background: linear-gradient(to bottom, #ffd60b 20%, #ffba0b 40%, #e0a32f 45%, #c38915);
border: 1px solid #c38915;
border-radius: 5px 5px 40px 5px;
-GtkWidget-hexpand: true;
box-shadow: 1px #000000;
}"
  button {
    value = "start-here"
    style = "startmenu"
    action = Exec "jgmenu_run"
    action[3] = Exec "killall jgmenu"
    tooltip = "Application menu"
  }
  include("showdesktop.widget")



  button {
    value = "sakura"
    style = "launcher"
    action = Exec "x-terminal-emulator"
    tooltip = "terminal"
  }

  button {
    value = "system-file-manager"
    style = "launcher"
    action = Exec "thunar"
        tooltip = "File Manager"
  }

  button {
    value = "web-browser"
    style = "launcher"
    action = Exec "/opt/floorp/floorp"
    tooltip = "Web Browser"
  }

button {
    value = "system-log-out-symbolic"
    style = "launcher"
    action = Exec "killall wayfire"
    tooltip = "Quit"
  }

  taskbar {
    css = "* {margin-right: 5px;}"
    style = "launcher"
    rows = 1;
    icons = true;
    labels = false;
    group = popup;
    sort = false;
    action[3] = Menu "winops"
  }

grid {
    css = "* {background: repeating-linear-gradient(to bottom, #ffd60b 20%, #000000, #fff000, #fff000, #000000);
border: 1px solid #909090;
border-radius: 0px 0px 40px 40px;
margin-right: 0px;
-GtkWidget-hexpand: true;
}"

grid {
    css = "* {background: linear-gradient(to bottom, #999999, #000000 40%, #000000 45%, #000000 45%);
border: 1px solid #909090;
border-radius: 0px 0px 40px 40px;
margin-right: 20px;
margin-left: 20px;
-GtkWidget-hexpand: true;
}"
  label { css = "* { -GtkWidget-hexpand: true; }" }
  include("battery.widget")
  include("bluez.widget")
  include("network-module.widget")
  include("alsa-module.widget")
  include("brightness.widget")

    include("cpu.widget")
  include("memory.widget")
  tray {
    css = "* { background: #E2F4FD;}"
    rows = 1
  }

  grid {
    css = "* { -GtkWidget-direction: bottom; margin: 5px 20px 5px 15px;}"
    label {
      value = Time("%d/%m/%y")
      style ="clock1"
    }
    label {
      value = Time("%I:%M:%p")
      style ="clock2"
    }
  }
}
}}}

#CSS
window * {
background: transparent;
border: none;
box-shadow: none;
}

window#pes {
background: transparent;
border: none;
box-shadow: none;
}


button image {
background: transparent;
border: none;
}

button#showdesktop {
background: transparent;
padding-right: 10px;
border: none;
margin-top: 5px;
}

button#showdesktop image {
min-height: 27px;
min-width: 27px;
}

menu, button#startmenu {
background: repeating-linear-gradient(to bottom, #ffd60b 20%, #000000, #fff000, #fff000, #000000);
margin-right: 5px;
border: 0.5px solid #000000;
border-radius: 6px;
margin: 5px;
}

button#startmenu image {
min-height: 27px;
min-width: 27px;
}

button#launcher {
background: #333333;
color: #000000;
margin-right: 5px;
border: 0.2px solid #000ff0;
border-radius: 6px;
margin: 5px;
}

button#launcher image {
min-height: 27px;
min-width: 27px;
margin: 0px;
}

button#taskbar_normal,
button#taskbar_active,
button#taskbar_normal:hover {
background: #333333;
border: none;
border-radius: 6px;
margin: 5px;
  -GtkWidget-hexpand: true;
}

button#taskbar_normal image,
button#taskbar_active image,
button#taskbar_normal:hover image {
color: #000000;
min-height: 30px;
min-width: 30px;
}

button#taskbar_active {
  background-color: rgba(159,207,255,0.9);
}

button#taskbar_normal:hover {
  background-color: rgba(213,213,213,0.6);
}


button#tray_active,
button#tray_passive,
button#tray_attention {
  background: transparent;
  margin: 0px;
  border: none;
  padding: 0px;
}

button#tray_active image,
button#tray_passive image,
button#tray_attention image {
  background: transparent;
  -GtkWidget-valign: center;
  -GtkWidget-vexpand: true;
  min-height: 16px;
  min-width: 16px;
  padding: 1px 4px 2px 2px;
  margin: 0px;
  border: none;
}

button#module {
  background: transparent;
  border: none;
  padding: 1px;
  margin: 0px;
  -GtkWidget-vexpand: true;
}

button#module image {
color: #ffffff;
  min-height: 16px;
  min-width: 16px;
  padding: 2px;
  margin: 0px;
  -GtkWidget-valign: center;
  -GtkWidget-vexpand: true;
}

chart#cpu_chart {
  background: #E2F4FD;
  min-width: 9px;
  -GtkWidget-vexpand: true;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: 5px;
  border: 1px solid #000000;
  color: red;
}

progressbar#memory {
  -GtkWidget-direction: top;
  -GtkWidget-vexpand: true;
  background: #E2F4FD;
  min-width: 9px;
  border: 1px solid @theme_fg_color;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: 5px;
}

progressbar#memory trough {
  min-height: 2px;
  min-width: 9px;
  border: none;
  border-radius: 0px;
  background: rgba(127,127,127,0.3);
}

progressbar#memory progress {
  -GtkWidget-hexpand: true;
  min-width: 9px;
  border-radius: 0px;
  border: none;
  margin: 0px;
  background-color: alpha(green,0.9);
}

label#clock1 {
color: #ffffff;
font-family: Liberation Sans;
font-size: 12px;
font-style: italic;
font-weight: lighter;
}

label#clock2 {
color: #ffffff;
font-family: Liberation Sans;
font-size: 12px;
font-style: italic;
font-weight: lighter;
}

